<!doctype html>
<html lang="en">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="static/img/favicon.ico">
    <link rel="apple-touch-icon" sizes="57x57" href="static/img/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="static/img/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="static/img/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="static/img/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="static/img/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="static/img/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="static/img/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="static/img/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="static/img/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="static/img/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="static/img/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/img/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="static/img/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- 623fe4 -->
    <!-- UIKit CSS -->
    <link rel="stylesheet" href="static/css/jrachele.css">
    <!-- UIKit JS -->
    <script src="static/js/uikit.min.js"></script>
    <script src="static/js/uikit-icons.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <title>Julian Rachele</title>

</head>

<body class="site">
    <div class="uk-section-muted uk-preserve-color" style="min-height: 100vh;">
        <!-- <nav class="uk-navbar-container">
            <div class="uk-container uk-container expand" uk-navbar>
                <div class="uk-navbar-center">
                    <div class="uk-navbar-center-left">
                        <a class="uk-active uk-navbar-item uk-link-muted" href="/?lang=en">en</a>
                    </div>
                    <span class="uk-navbar-item uk-logo">cv</span>
                    <div class="uk-navbar-center-right">
                        <a class="uk-active uk-navbar-item uk-link-muted" href="/?lang=fr">fr</a>
                    </div>
                </div>
            </div>
        </nav> -->

        <div class="uk-margin-large-left uk-margin-large-right">
            <div class="uk-card uk-card-muted uk-card-hover uk-card-body">
                <div class="uk-flex-middle" uk-grid>
                    <div class="uk-width-auto">
                        <img class="uk-border-circle" src="/static/img/self_portrait.png" style="width: 250px;">
                    </div>
                    <div class="uk-width-expand">
                        <div class="uk-flex uk-flex-column">
                            <div>
                                <a href="static/pdf/resume.pdf" class="uk-icon-button uk-margin-small-right"
                                    uk-icon="file-pdf"></a>
                                <a href="https://www.github.com/jrachele" class="uk-icon-button uk-margin-small-right"
                                    uk-icon="github"></a>
                                <a href="https://www.linkedin.com/in/jrachele" class="uk-icon-button uk-margin-small-right"
                                    uk-icon="linkedin"></a>
                                <a href="https://www.behance.net/gallery/64225741/Portfolio" class="uk-icon-button  uk-margin-small-right"
                                    uk-icon="behance"></a>
                            </div>

                            <div class="uk-flex" uk-grid>
                                <div class="uk-flex uk-flex-column">
                                    <span class="uk-text-lead">Julian Rachele</span>

                                    <span class="uk-text-meta">{{ _('about_me_meta_text') }}</span>
                                </div>
                                <div class="uk-flex uk-flex-column">

                                    <a class="uk-link-muted uk-margin-small-bottom" href="/?lang=en" uk-tooltip="English Version"><img
                                            src="static/img/us.svg" style="min-height: 21px; min-width: 28px;" /></a>
                                    <a class="uk-link-muted" href="/?lang=fr" uk-tooltip="Version Française"><img src="static/img/fr.svg"
                                            style="min-height: 21px; min-width: 28px;" /></a>
                                </div>
                            </div>


                            <div>
                                <i>Columbia, SC USA • julrachele@gmail.com • +1(864) 607-0061</i>
                            </div>

                        </div>
                    </div>
                    <!-- <div class="uk-width-auto">
                        <div class="uk-flex">
                            <a class="uk-link-muted uk-navbar-item" href="/?lang=en" uk-tooltip="English Version"><img
                                    src="static/img/us.svg" style="min-height: 21px; min-width: 28px;" /></a>
                            <a class="uk-link-muted uk-navbar-item" href="/?lang=fr" uk-tooltip="Version Française"><img
                                    src="static/img/fr.svg" style="min-height: 21px; min-width: 28px;" /></a>
                        </div>
                    </div> -->

                </div>


            </div>
        </div>

        <div>
            <div class="uk-position-relative uk-visible-toggle" uk-slideshow="animation: push; autoplay: true; autoplay-interval: 7000; min-height: 300; max-height: 600">

                <ul class="uk-slideshow-items">
                    <li>
                        <div class="uk-position-cover uk-animation-kenburns uk-transform-origin-center-left">
                            <img src="static/img/asterion_preview.jpg" alt="" uk-cover>
                        </div>
                        <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
                            <h3 class="uk-margin-remove">Astérion VR</h3>
                        </div>
                    </li>
                    <li>
                        <div class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-center-left">
                            <img src="static/img/redcraft_preview.png" alt="" uk-cover>
                        </div>
                        <div class="uk-position-bottom uk-position-medium uk-text-center uk-light uk-transition-slide-bottom">
                            <h3 class="uk-margin-remove">{{ _('protein_folding_link') }}</h3>
                        </div>
                    </li>
                    <li>
                        <div class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-center-right">
                            <img src="static/img/vasquezdatasci_preview.png" alt="" uk-cover>
                        </div>

                        <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
                            <h3 class="uk-margin-remove">{{ _('yeast_genome_link') }}</h3>
                        </div>
                    </li>
                    <li>
                        <div class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-center-right">
                            <img src="static/img/vasquezsite_preview.png" alt="" uk-cover>
                        </div>
                        <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
                            <h3 class="uk-margin-remove">{{ _('dr_vasquez_site') }}</h3>
                        </div>
                    </li>
                </ul>

                <div class="uk-light">
                    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous
                        uk-slideshow-item="previous"></a>
                    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next
                        uk-slideshow-item="next"></a>
                </div>

            </div>
        </div>


        <div class="uk-margin-large-left uk-margin-large-right uk-margin-small-top uk-margin-bottom">
            <div class="uk-child-width-1-2@l uk-margin-remove-left" uk-grid>
                <div class="uk-card uk-card-muted uk-dark uk-card-hover uk-card-body" uk-scrollspy="cls: uk-animation-fade; repeat: true">
                    <h1 class="uk-heading-primary">{{ _('About Me') }}</h1>
                    <p style="font-size: 18px">{{ _('about_me_description') }}</p>
                </div>
                <div class="uk-card uk-card-primary uk-light uk-card-hover uk-card-body" uk-scrollspy="cls: uk-animation-fade; repeat: true">
                    <h2>{{ _('showcase') }}</h2>
                    <ul class="uk-child-width-expand" uk-tab>
                        <li class="uk-active"><a href="#">{{ _('Recent work') }}</a></li>
                        <li><a href="#">{{ _('Earlier work') }}</a></li>
                        <li><a href="#">{{ _('Graphic design') }}</a></li>
                    </ul>
                    <ul class="uk-switcher uk-margin">
                        <li>
                            <ul class="uk-list uk-list-divider">
                                <li>
                                    <div class="uk-flex-middle" uk-grid>
                                        <div class="uk-width-auto">
                                            <a href="https://asterionvr.com/"><img src="/static/img/asterion.png"
                                                    style="width: 150px;"></a>
                                        </div>
                                        <div class="uk-width-expand">
                                            <p><a href="https://asterionvr.com/">Astérion VR</a> -
                                                {{ _('asterion_info')}}
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="uk-flex-middle" uk-grid>
                                        <div class="uk-width-auto">
                                            <a href="https://ifestos.cse.sc.edu/REDCRAFT/documentation/"><img src="https://ifestos.cse.sc.edu/images/structure.jpg"
                                                    style="width: 250px;"></a>
                                        </div>
                                        <div class="uk-width-expand">
                                            <p><a href="https://ifestos.cse.sc.edu/REDCRAFT/documentation/">
                                                    {{ _('protein_folding_link') }}</a> -
                                                {{ _('protein_folding_info')}}
                                            </p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <ul class="uk-list uk-list-divider">
                                <li class="uk-margin-top">
                                    <div class="uk-flex-middle" uk-grid>
                                        <div class="uk-width-expand">
                                            <p><a href="research">{{ _('yeast_genome_link')}}</a> -
                                                {{ _('yeast_genome_info')}}
                                            </p>
                                        </div>
                                        <div class="uk-width-auto">
                                            <a href="research"><img src="/static/img/plotly_logo.png" style="width: 150px;"></a>
                                        </div>
                                    </div>
                                </li>
                                <li class="uk-margin-top">
                                    <div class="uk-flex-middle" uk-grid>
                                        <div class="uk-width-expand">
                                            <p><a href="http://people.math.sc.edu/vasquezp">{{ _('dr_vasquez_site') }}</a>
                                                -
                                                {{ _('dr_vasquez_info') }}
                                            </p>
                                        </div>
                                        <div class="uk-width-auto">
                                            <a href="http://people.math.sc.edu/vasquezp"><img src="/static/img/usc_logo.png"
                                                    style="width: 250px;"></a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <div class="uk-flex-middle" uk-grid>
                                <div class="uk-width-auto">
                                    <a href="https://www.behance.net/gallery/64225741/Portfolio"><img src="/static/img/behance_logo.png"
                                            style="width: 250px;"></a>
                                </div>
                                <div class="uk-width-expand">
                                    <p><a href="https://www.behance.net/gallery/64225741/Portfolio">
                                            {{ _('portfolio_link')}}</a> -
                                        {{ _('portfolio_info')}}
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-secondary uk-light uk-card-hover uk-card-body" uk-scrollspy="cls: uk-animation-fade; repeat: true">
                <div class="uk-child-width-1-2@l uk-margin-remove-left" uk-grid>
                    <div>
                        <h2>{{ _('education_experience')}}</h2>
                        <ul class="uk-list uk-list-divider">
                            <li><b>{{ _('Class of 2020') }}</b> {{ _('usc_info') }}</li>
                            <li><b>{{ _('2018 - Now') }}</b> {{ _('valafar_datascience') }}</li>
                            <li><b>{{ _('2010 - Now') }}</b> {{ _('donatelife_volunteer') }}</li>
                            <li><b>2018</b> {{ _('mathdep_datascience') }}</li>
                            <li><b>2017</b> {{ _('mathdep_web') }}</li>
                            <li><b>{{ _('Class of 2016') }}</b> {{ _('highschool') }}</li>
                        </ul>
                    </div>
                    <div>
                        <h2>{{ _('languages') }}</h2>
                        <ul class="uk-list uk-list-divider">
                            <li><i>Haskell</i> - {{ _('haskell_description') }}</li>
                            <li><i>Python/Django</i> - {{ _('python_description') }}</li>
                            <li><i>C++</i> - {{ _('cpp_description') }}</li>
                            <li><i>JavaScript/React</i> - {{ _('js_description') }}</li>
                            <li><i>{{ _('French') }}</i> - {{ _('french_description') }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>



</body>

</html>
